<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                欢迎使用IdentityServer
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityServer发布
                <a href="~/.well-known/openid-configuration">discovery document</a>
                在这里可以找到元数据和到所有端点、关键材料等的链接。
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                点击 <a href="~/grants">这里</a> 去管理您存储的授权。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                以下的链接是
                <a href="https://github.com/identityserver/IdentityServer4">源代码存储库</a>,
                和 <a href="https://github.com/identityserver/IdentityServer4.Samples">样例</a>.
            </p>
        </div>
    </div>
</div>
