@{
    ViewData["Title"] = "端口说明";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="well">
    <a href="http://47.99.36.29:15672/">RabbitMQ管理入口</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8090/">Supervisor管理入口</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8085/">WEB客户端-MVC</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8086/">会员授权中心IdentityService4</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8087/">API-Gateway网关</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8088/api/values">API-客户服务</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8089/api/values">API-产品服务</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8082/api/queryall">CAP-订单系统API</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8082/swagger">CAP-订单系统API-swapper</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8083/api/queryall">CAP-配送系统API</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8083/swagger">CAP-配送系统API-swapper</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8084/api/queryall">CAP-库存系统API</a>
</div>
<div class="well">
    <a href="http://47.99.36.29:8084/swagger">CAP-库存系统API-swapper</a>
</div>